@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    /*область отступа */
    margin: 0;
    /* Отступы */
    padding: 0;
    /* Убирает рамки (синие) */
    outline: 0;
    /* Убирает стандартные стили браузера  */
    appearance: none;
    font-family: 'Roboto', sans-serif ;
    box-sizing: border-box;
}

h2 {
    font-size: 29px;
}

a {
    color: var(--color-dark);
    text-decoration: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #f4f6f9;
}

.logo img {
    /* Ширина */
    width: 3rem;
    /* Высота */
    height: 3rem;
}

/* Карточки студентов */
.cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.student-card {
    background: #eee8e8;
    border-radius: 12px;
    font-size: 22px;
    padding: 22px;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(219, 214, 214, 0.918);
}

.student-card .card-actions{
    margin: 2px;
    padding: 6px;
    transition: all 0.3s ease;
}

.btn{
    padding: 6px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.btn-primary {
    background: #4a6cf7;
    color: white;
}

.btn-primary:hover {
    background: #052cc5;
}

.btn-secondary {
    background: #444e5c;
    color: white;
}

.btn-secondary:hover {
    background: #212730;
}

.sidebar{
    width: 185px;
    padding: 6px;
    margin-top: 23px;
    border-radius: 10px;
    background: #e0d7d7;
}

/* Кнопки переключения */
.item { 
    display: flex; 
    align-items: center; 
    gap: 10px; 
    font-size: 20px; 
} 
.item i {
    font-size: 24px;
    padding: 5px; 
}

.content {
    flex: 8;
    margin-top: 0;
}

/* Шапка */
/* .header{

} */

/* Шапка */
.footer{
    background: #f7f4f4;
    padding: 10px;
    margin-top: auto;
}

.footer-links{
    font-size: 20px;
}

.footer-info{
    margin: 10px;
    display: grid;
    font-size: 16px;
}